body {
  /* font-family: sans-serif; */
  font-family: 'Raleway', sans-serif;
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
}

a:hover {
  color: #dbb385;
}

nav {
  color: white
}

label {
  display: block;
}

.nav-li {
  float: left;
  color: white;
  vertical-align: middle;
}

.searchbar {
  float: right;
  color: white;
  vertical-align: middle;
}

#nav-home {
  font-size: 20pt;
  font-weight: bold;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

li:link {
  color: white
}

.user-nav {
  color: white;
  background-color: #242424;
  font-size: 9pt;
  float: right;
  overflow: hidden;
}

.login{
  margin-top: -35px;
  background-color: #242424;
  overflow: hidden
}

h1 {
  text-align: center
}

.nav-li li:hover{
  background-color: #dadada;
  color: #242424;
  margin-top: 4px;
}
.nav-bar {
  overflow: hidden;
  color: white
}

.fixed-nav {
  position: sticky;
  top: 0;
  background-color: #242424;
  color: white;
  opacity: 0.5
}

form div {
  margin: 1em;
  display: inline-block;
}

.column {
  float: center;
  width: calc(100% / 4);
  height: auto;
  padding-bottom: 3em;
}

.column-image {
  width: 250px;
  height: 187.5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.all-product-container {
  max-width: 1200px;
  padding: 4em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  float: center;
  margin-left: auto;
  margin-right: auto;
}

.single-image {
  width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.single-product-page {
  padding: 2em;
}

.reviews {
  display: block;
  border: 1px dotted grey;
  margin-left: 30%;
  margin-right: 30%;
  text-align: left;
  padding: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: white
}

.review-header {
  margin-left: 20%;
  margin-right: 20%;
  display: block;
  border-top: solid grey;
  text-align: center;
  padding: 0.4em;
  padding-bottom: 0em;
  padding-top: 2em;
  margin-bottom: .5em;
  font-size: 16pt;
}

.single-product-container {
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  background-color: white;
  padding: 2em;
}

.single-product-text {
  margin: 1em;
  top: 50%;
  vertical-align: middle;
}

.add-review {
  margin-left: 30%;
  font-size: 12pt;
}

.order-history {
  text-align: center;
  padding: 2em;
  margin-top: 2em;
  margin-left: 30%;
  margin-right: 30%;
  border: 1px dotted lightgrey;
}

.inputElem {
  text-align: center;
}

.create-review {
  padding: 2em;
  margin-top: 2em;
  margin-left: 30%;
  margin-right: 30%;
  border: 1px dotted lightgrey;
}

.add-to-cart {
  background: #dbb385;
  border: 2px solid #dbb385;
  color: #ffffff;
  outline: none
}
.add-to-cart:active {
  transform: translateY(3px);
}

.add-to-cart:hover {
  background: #ffffff;
  border: 2px solid #dbb385;
  color: #dbb385;
}

.add-to-cart:after {
  background: #ffffff;
  border: 2px solid #dbb385;
  color: #dbb385;
}

h3 {
  color:#dbb385
}

h2 {
  font-size: 18pt;
  text-align: left;
  margin: 0;
  color: #dbb385;
}

.create-new-product {
  background: #4e6091;
  border: 2px solid #2f3d64;
  color: #ffffff;
  outline: none;
  margin-bottom: 2em;
  font-size: 10pt
}

.create-new-product:hover {
  background: white;
  border: 2px solid #2f3d64;
  color: #2f3d64;
}

.admin-orders-view {
  background: #FF3333;
  border: 2px solid #FF0000;
  color: #ffffff;
  outline: none;
  margin-bottom: 2em;
  font-size: 10pt;
  margin-right: 4em;
}

.admin-orders-view:hover {
  background: white;
  border: 2px solid #FF0000;
  color: #FF0000;
}

h3 {
  text-align: center
}

#cart {
  display: flex;
  margin: 50px;
  width: calc(100%-100px);
  flex-direction: column;
}

#cart-table {
  border-collapse: collapse;
  border-top: solid black;
  border-bottom: solid black;
}

#cart-table tr {
  border-top: solid 1px;
  height: auto;
  text-align: flex-start;
}

#cart-table th {
  text-align: left;
  padding: 20px;
}

#cart-table td {
  padding: 20px;
}

#cart-table .item-info {
  display: flex;
}

#cart-table .item-info img {
  width: 250px;
  height: 150px;
}

#cart-table .item-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#cart-table .item-content h4, p, button {
  margin: 5px;
}
