body {
  /* font-family: sans-serif; */
  font-family: 'Raleway', sans-serif;
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
}

a:visited {
  color: #003366;
}

a:link {
  color: #003366;
}

a:hover {
  color: #0073e6;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.column {
  float: center;
  width: calc(100% / 4);
  height: auto;
  padding-bottom: 3em;
}

.column-image {
  width: 250px;
  height: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.all-product-container {
  max-width: 1200px;
  padding: 4em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.no-break {
  white-space: nowrap;
}

.single-image {
  width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.single-product-page {
  padding: 2em;
}

.reviews {
  display: block;
  border: 1px dotted grey;
  margin-left: 30%;
  margin-right: 30%;
  text-align: left;
  padding: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: white
}

.review-header {
  margin-left: 20%;
  margin-right: 20%;
  display: block;
  border-top: solid grey;
  text-align: center;
  padding: 0.4em;
  padding-bottom: 0em;
  padding-top: 2em;
  margin-bottom: .5em;
  font-size: 16pt;
}

.single-product-container {
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  background-color: white;
  padding: 2em;
}

.single-product-text {
  margin: 1em;
  top: 50%;
  vertical-align: middle;
}

.add-review {
  margin-left: 30%;
  font-size: 12pt;
}

.order-history {
  text-align: center;
  padding: 2em;
  margin-left: 30%;
  margin-right: 30%;
  border: 1px dotted lightgrey;
}

.add-to-cart {
  background: #dbb385;
  border: 2px solid #dbb385;
  color: #ffffff;
  outline: none
}
.add-to-cart:active {
  transform: translateY(3px);
}

.add-to-cart:hover {
  background: #ffffff;
  border: 2px solid #dbb385;
  color: #dbb385;
}

.add-to-cart:after {
  background: #ffffff;
  border: 2px solid #dbb385;
  color: #dbb385;
}

h3 {
  color:#dbb385
}
